autoenv==1.0.0
click==6.6
Django==1.10.3
eyeD3==0.7.9
Flask==0.11.1
fullpath==0.0.0
gTTS==1.1.6
gTTS-token==1.1.1
isstring==0.0.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Pillow==3.4.2
public==0.0.0
pyglet==1.2.4
PyMySQL==0.7.9
requests==2.12.2
setupfiles==0.0.0
touch==0.0.0
virtualenv==15.1.0
Werkzeug==0.11.11
