asn1crypto==0.22.0
autoenv==1.0.0
boto==2.38.0
cffi==1.10.0
chardet==2.3.0
click==6.6
cryptography==2.0
Django==1.10.3
django-pesapal==1.2.0
duplicity==0.7.6
ecdsa==0.13
enum34==1.1.2
Flask==0.11.1
gTTS==1.1.6
gTTS-token==1.1.1
httplib2==0.105.3
idna==2.5
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
lockfile==0.12.2
MarkupSafe==0.23
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
ndg-httpsclient==0.4.0
oauth2==1.9.0.post1
paramiko==1.16.0
pexpect==4.0.1
Pillow==3.4.2
ptyprocess==0.5
pyasn1==0.1.9
pycparser==2.18
pycrypto==2.6.1
pyglet==1.2.4
pygobject==3.20.0
PyMySQL==0.7.9
pyodbc==3.0.7
pyOpenSSL==16.2.0
pysqlite==2.7.0
python-cloudfiles==1.7.10
pyxdg==0.25
requests==2.12.3
six==1.10.0
urllib3==1.13.1
virtualenv==15.1.0
Werkzeug==0.11.11
