{% extends 'base.html' %}

{% comment %}Title{% endcomment %}
{% block title %}
    Contact Us
{% endblock %}

{% comment %}Page Content{% endcomment %}
{% block content %}

    <!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li class="active">Contact</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--contact-start-->
	<div class="contact">
		<div class="container">
			<div class="contact-top heading">
				<h2 style="float:left; font-family: inherit; padding-left: 15px;">Contact</h2>

			</div>
				<div class="contact-text">
                    <p style="margin-left: 18px">Any message or review you wish to communicate...</p>
					<div class="col-md-8 " style="margin-top: 30px">
                        <style>
                            .review-form input, textarea {
                                margin-bottom: 10px;
                                display: block;
                                width: 100%;
                                height: 34px;
                                padding: 6px 12px;
                                font-size: 14px;
                                line-height: 1.42857143;
                                color: #555;
                                background-color: #fff;
                                background-image: none;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                                -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                                -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                            }
                            .review-form textarea
                            {
                                height:auto;
                            }
                        </style>



                        <form class="review-form" method="POST" >{% csrf_token %}

                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            {{ form.as_table }}
                            <div class="text-center" >
                                <input type="submit" value="Send message" style="background:#45a416; border:none" class="btn btn-primary btn-block">
                            </div>
                        </form>
					</div>
					<div class="col-md-4 " style="margin-top: 40px; padding-left: 60px">
						<div class="address">
							<h5 style="font-weight: 100; color:#45a416">Utawala</h5>
							<p>Aura Naturals,
								<span>P. O BOX 37204-00100,</span>
								Nairobi City.</p>
                                <p>+254 706896800, +254 708627655</p>
                                <p>info@auranaturalske.com</p>
						</div>
					</div>

				</div>
		</div>
	</div>
	<!--contact-end-->
	<!--map-start-->
	<div class="map" style="margin-bottom: -67px">
		<iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJz2SAZ9YQLxgRrCqr4PW2a5U&key=AIzaSyAwbQfBNtIDEwSGYetLmvxKKUXgNipOZzE" allowfullscreen></iframe>
	</div>
	<!--map-end-->
{% endblock %}









