{% extends 'base.html' %}

{% comment %}Title{% endcomment %}
{% block title %}
    Hair Products
{% endblock %}

{% comment %}Page Content{% endcomment %}
{% block content %}
<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Hair Products</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--prdt-starts-->
<div class="prdt">
    <div class="container">
        <div class="prdt-top">
            <div class="col-md-3 prdt-right" style="margin-bottom: 60px">
                <style>

                            .widget_product_categories li {
                                    border-top: 1px solid #ddd;
                                    padding-bottom: 10px;
                                    padding-top: 10px;
                                    padding-left: 10px;
                                    margin-left: 10px;
                                    margin-right: 10px;
                                }
                            .widget_product_categories ul li {
                                    border-top: 1px solid #ddd;
                                    padding-bottom: 10px;
                                    padding-top: 10px;
                                    padding-left: 10px;
                                    margin-left: 10px;
                                    margin-right: 10px;
                                }
                            .widget_product_categories li:first-child {
                                    border: none;
                                }
                            .widget_product_categories ul {
                                    list-style: none;
                                }
                            .active_product{
                                    font-weight: 600;
                                }
                            .cat_item a{
                                margin-left: 10px;
                            }

                          </style>

                <div class="w_sidebar">
                    <section class="sky-form">
                        <h4 style="color:#45a416">Product Categories</h4>

                        <div>
                            <ul class="widget_product_categories" style="padding:0; border: 2px solid #ececec;">
                                <li>
                                    <a href="{% url 'accessories' %}">Accessories</a>
                                </li>
                                <li><a class="active_product" href="{% url 'hair_products' %}">Hair Products</a></li>
                                <li><a href="{% url 'facial_products' %}">Facial Products</a></li>
                            </ul>
                        </div>
                    </section>
                </div>

                        <style>
                            .row1 ul li{
                            padding: 10px;
                          	padding-left:0;
                          	padding-bottom:5px;
                            }
                            .product-bottom {
                                margin-top: 0;
                                padding-left: 15px;
                            }
                            @media (min-width: 1024px) {
                                #hair_products.product-main {
                                    padding: 1em 0 1.9em 0;
                                    height: 470px;
                                    margin-bottom: 20px;
                                }
                            }
                            @media (min-width: 1440px) {
                                #hair_products.product-main {
                                    padding: 1em 0 1.9em 0;
                                    height: 550px;
                                    margin-bottom: 20px;
                                }
                            }
                          </style>

            </div>
            <div class="col-md-9 prdt-left" style="margin-top: -20px; padding-left: 30px">
                <h2 style="padding-left: 15px; font-weight:lighter">Hair Products</h2>
                    <div class="product-one">

                    {% for product in products %}

                        <div class="col-md-4 product-left p-left">
                            <div id="hair_products" class="product-main simpleCart_shelfItem">
                                <a href="{{ product.get_absolute_url }}" class="mask"><img class="img-responsive zoom-img" src="{{ product.image.url }}" alt="" /></a>
                                <div class="product-bottom">
                                    <h3>{{ product.name }}</h3>
                                    <p>Explore Now</p>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">KES {{ product.price }}</span></h4>
                                </div>
                            </div>
                        </div>


                    {% endfor %}


                </div>

            </div>
        {% include 'paginator.html' with page=products %}
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--product-end-->
{% endblock %}